<div class="content">
    <div class="textBox">
        <h2><span>About</span></h2>
        <img src="../../../assets/img/fahova.png" class="ima">
        <hr>
        <p>Lorem Ipsum es simplemente texto de relleno de la industria de
            la impresión y la composición tipográfica. Lorem Ipsum ha sido
            el texto de relleno estándar de la industria desde la década de
            1500, cuando un impresor desconocido tomó una galera de tipos
            y la mezcló</p>
    </div>
</div>